# 白名单式：默认全部排除，只放行发布必需的文件（见 docs/10）。
# package.json 由 vsce 强制包含；LICENSE 不会，必须显式放行。
**

!dist/**
!media/icon.png
!README.md
!CHANGELOG.md
!LICENSE
# i18n：package.nls*.json 与 l10n bundle 必须进包，否则中文环境回退英文（见 docs/04）
!package.nls.json
!package.nls.*.json
!l10n/**
